<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devbook - Atualizar Perfil</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
  </head>

  <body>
    {{ template "header"}}

    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12">
          <h3>Editar Dados</h3>
          <form id="edit-profile">
            <div class="form-group mt-3">
              <label for="name">Nome</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Insira seu nome"
                value="{{.Name}}"
                required="required"
              />
            </div>
            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Insira seu email"
                value="{{.Email}}"
                required="required"
              />
            </div>
            <div class="form-group mt-2">
              <label for="nick">Nick</label>
              <input
                type="text"
                class="form-control"
                id="nick"
                name="nick"
                placeholder="Insira seu nick"
                value="{{.Nick}}"
                required="required"
              />
            </div>

            <button type="submit" class="btn btn-info mt-4">Salvar</button>
          </form>

          
    {{ template "footer"}} {{ template "scripts"}}
    <script src="/assets/js/user.js"></script>
  </body>
</html>
